p {
  /* Content - width and height */
  width: 200px;
  height: 50px;

  /* Border */
  border: 2px solid blue;

  /* Padding */
  /* padding: 10px; */
  padding-left: 40px;

  /* Margin */
  /* margin: 100px; */
  margin-top: 500px;

}
